---
layout: page
title: Archive
permalink: /archive/
---

{% if site.posts.size > 0 %}
  <ol class="archive-list">
  {% for post in site.posts %}
    <li class="archive-list__item">
      <p class="archive-list__item-title">
        <a href="{{ post.url | prepend: site.baseurl }}">
          {{ post.title }}
        </a>
      </p>
    </li>
  {% endfor %}
  </ol>
{% else %}
  <h3>Oh no! No posts!</h3>
{% endif %}