---
layout: page
title: Posts
---
{% if site.posts.size > 0 %}
  <ol class="post-list">
  {% for post in paginator.posts %}
    <li class="post-list__item">
      <a href="{{ post.url | prepend: site.baseurl }}">
        <p class="post-list__item-title">
            {{ post.title }}{% if post.subtitle %}<br>{{ post.subtitle }}{% endif %}
        </p>
        <span class="post-list__item-date">{{ post.date | date: '%B %d, %Y'}}</span>
        <br>
        {% if post.summary %}
          <span class="post-list__item-summary">
            {{ post.summary }}
          </span>
        {% elsif post.excerpt %}
          <span class="post-list__item-excerpt">
            {{ post.excerpt | strip_html }}
          </span>
        {% else %}
          <span class="post-list__item-excerpt">
            {{ post.content | truncatewords: 24 | strip_html }}...
          </span>
        {% endif %}
      </a>
    </li>
  {% endfor %}
  </ol>
{% else %}
  <h3>Oh no! No posts!</h3>
{% endif %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page == null and paginator.next_page == null %}
  {% else %}
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% else %}
      <span class="previous">Previous</span>
    {% endif %}
    <span class="page-number">{{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
      <span class="next">Next</span>
    {% endif %}
  {% endif %}
</div>