---
layout: default
title: Resume
---
<main>
  <article class="resume">
    <header class="resume__header">
      <h1 class="resume__header-title">{{ site.data.resume.info.name }}</h1>
      <h2 class="resume__header-subtitle">{{ site.data.resume.info.phone_number }}</h2>
      <h2 class="resume__header-subtitle">{{ site.data.resume.info.location }}</h2>
    </header>
    <div class="resume__content">
      <section class="resume__skills">
        <header class="resume__section-header">
          <h1>Skills</h1>
        </header>
        <div>
          <ul>
            {% for skill in site.data.resume.skills %}
              <li>{{ skill }}</li>
            {% endfor %}
          </ul>
        </div>
      </section>
      <div class="resume__experience">
        <section class="resume__experience-timeline">
          <header class="resume__section-header">
            <h1>Experience</h1>
          </header>
          <div class="resume__experience-timeline__timeline__container">
            <div class="border"></div>
            <ul class="resume__experience-timeline__timeline">
              {% for job in site.data.resume.experience %}
                <li class="resume__job__container">
                  <time aria-label="End Date">{% if job.end_date %}{{ job.end_date | date: '%B, %Y' }}{% else %}Today{% endif %}</time>
                  <div class="resume__job">
                    <header>
                      <h4 aria-label="Job Title" class="resume__job__title">{{ job.title }}</h4>
                      <h5 aria-label="Employer" class="resume__job__employer">{{ job.employer }}</h5>
                      <h6 aria-label="Location" class="resume__job__location">{{ job.location }}</h6>
                    </header>
                    <hr />
                    <section class="resume__job__responsibilities">
                      <header>
                        <h2>Responsibilities</h2>
                      </header>
                      <ul>
                        {% for responsibility in job.responsibilities %}
                          <li>{{ responsibility }}</li>
                        {% endfor %}
                      </ul>
                    </section>
                  </div>
                  <time aria-label="Start Date">{{ job.start_date | date: '%B, %Y' }}</time>
                </li>
              {% endfor %}
            </ul>
          </div>
        </section>
        <div>
          <section class="resume__volunteering">
            <header class="resume__section-header">
              <h1>Volunteer Work</h1>
            </header>
            <div>
              <ul>
                {% for volunteer_job in site.data.resume.volunteering %}
                  <li>
                    <div>
                      <header>
                        <h1 aria-label="Volunteer Title" class="resume__volunteer__title">{{ volunteer_job.position }}</h4>
                        <h2 aria-label="Volunteer Organization" class="resume__volunteer__employer">{{ volunteer_job.organization }}</h5>
                        <h3 aria-label="Volunteer Location" class="resume__volunteer__location">{{ volunteer_job.location }}</h6>
                        <p aria-label="Time Volunteering"><time>{{ volunteer_job.start_date | date: '%B, %Y' }}</time> ― {% if volunteer_job.end_date %}<time>{{ volunteer_job.end_date | date: '%B, %Y' }}</time>{% else %}Today{% endif %}</p>
                      </header>
                      <div>
                        <p aria-label="Description" class="resume__volunteer__description">{{ volunteer_job.description }}</p>
                      </div>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </section>
          <section class="resume__education">
            <header class="resume__section-header">
              <h1>Education</h1>
            </header>
            <div>
              <ul>
                {% for school in site.data.resume.education %}
                  <li>
                    <div>
                      <header>
                        <h2 aria-label="School Name">{{ school.name }}</h4>
                        <h3 aria-label="School Location">{{ school.location }}</h3>
                        <p aria-label="Dates Attended"><time>{{ school.start_date }}</time> ― <time>{{ school.end_date }}</time></p>
                      </header>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </section>
        </div>
      </div>
    </div>
  </article>
</main>