<footer class="site-footer">
  <nav class="site-footer__nav">
    {% for link in site.data.nav.top %}
      <a href="{{ link.path | prepend: site.baseurl }}">{{link.name}}</a>
    {% endfor %}
    {% for link in site.data.nav.bottom %}
      <a href="{{ link.path | prepend: site.baseurl }}">{{link.name}}</a>
    {% endfor %}
  </nav>
  <nav class="site-footer__social-links">
    <a href="https://github.com/{{site.github_username}}" class="site-footer__social-link">
      <img src="{{ '/images/github.svg' | prepend: site.baseurl }}" />
      <span>{{site.github_username}}</span>
    </a>
    <a href="https://twitter.com/{{site.twitter_username}}" class="site-footer__social-link">
      <img src="{{ '/images/twitter.svg' | prepend: site.baseurl }}" />
      <span>@{{site.twitter_username}}</span>
    </a>
    <a href="https://gitlab.com/{{site.gitlab_username}}" class="site-footer__social-link">
      <img src="{{ '/images/gitlab.svg' | prepend: site.baseurl }}" />
      <span>{{site.gitlab_username}}</span>
    </a>
    <a href="https://reddit.com/u/{{site.reddit_username}}" class="site-footer__social-link">
      <img src="{{ '/images/reddit.svg' | prepend: site.baseurl }}" />
      <span>/u/{{site.reddit_username}}</span>
    </a>
  </nav>
</footer>