<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/fav/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/fav/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/fav/manifest.json">
  <link rel="mask-icon" href="/fav/safari-pinned-tab.svg" color="#ff0077">
  <link rel="shortcut icon" href="/fav/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="seanclayton.me">
  <meta name="application-name" content="seanclayton.me">
  <meta name="msapplication-config" content="/fav/browserconfig.xml">
  <meta name="theme-color" content="#ff0077">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" lazyload />
  <title>Sean Clayton{% if page.title %} | {{ page.title }}{% endif %}</title>
</head>