<header class="site-header">
  <nav class="site-header__nav">
    {% for link in site.data.nav.top %}
      <a href="{{ link.path | prepend: site.baseurl }}">{{link.name}}</a>
    {% endfor %}
  </nav>
</header>