// Mixins

@mixin container() {
  max-width: 60em;
  margin: 0 auto;

  @media screen and (max-width: 68em) {
    max-width: 100%;
    margin: 0 2em;
  }
}

@mixin card() {
  background-color: white;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;
  border-radius: 2px;
  box-shadow: 0 .1em .1em rgba(black, .25);
  text-shadow: none;
  transition: .25s ease all;

  &:hover {
    box-shadow: 0 1.25em 2em rgba(black, .25);
  }
}

@mixin gradient-animation($start, $end, $transTime) {
  background-size: 100%;
  background-image: linear-gradient(-135deg, transparent, transparent);
  position: relative;
  z-index: 100;
  &:before {
    border-radius: inherit;
    background-image: linear-gradient(-135deg, $start, $end);
    content: '';    
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
    z-index: -100;
    transition: opacity $transTime ease;
  }
  &:hover, &:focus {
     &:before {
       opacity: 1; 
     }
  }
}

@mixin link($color) {
  color: $color;
  transition: .2s ease all;
  border-bottom: 2px solid $color;
  text-decoration: none;
  font-weight: 900;

  &:hover, &:focus {
    color: white;
    background-color: $color;
  }
}

// Styles

html, body {
  width: 100%;
  min-height: 100vh;
}

.site {
  background-color: $primary-color;
  background-image: linear-gradient(45deg, #f70, $magenta);
  color: white;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  display: flex;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 18px;

  @media screen and (max-width: 68em) {
    font-size: 16px;
  }

  * {
    box-sizing: border-box;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
  }

  ::selection {
    background: $blue;
  }
}

.global-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;

  img {
    max-width: 100%;
  }

  main {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}

.site-header {
  background-color: white;
  color: black;
  box-shadow: 0 .1em .1em rgba(black, .25);
}

article {
  ol, ul {
    margin: 0;

    li {
      margin: 0;
    }
  }
}

.page {
  a {
    color: white;
  }
}

.page, .post, .resume {
  &__header {
    font-weight: 900;
    text-transform: uppercase;

    h1, h2, h3, h4, h5, h6 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &__content {
    @include container();

    p {
      line-height: 1.5;
    }
  }
}

.page, .post {
  &__content {
    &:last-child :last-child {
      margin-bottom: 0;
    }
  }
}

.page, .resume {
  &__header {
    padding: 3em 0;
    text-shadow: 0 .1em .1em rgba(black, .25);
    @include container();
  }

  &__content {
    text-shadow: 0 .1em .1em rgba(black, .25);
    margin-bottom: 2em;

    a {
      text-decoration: none;
      font-weight: 900;
    }
  }
}

.post {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  flex: 1;

  &__header {
    background-image: linear-gradient(-135deg, $blue, $red);
    color: white;
    text-shadow: 0 .1em .1em rgba(black, .25);

    &__content {
      @include container();
      padding: 13.333vh 0;
    }

    @media screen and (max-width: 48em) {
      font-size: .8em;
      padding: 1em;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }
  &__content {
    a {
      @include link($red);
    }
    img {
      display: block;
      margin: 0 auto;
    }
    li {
      line-height: 1.5;
    }
  }
}

.archive-list {
  &__item {
    a {
      @include link($gold);
      color: white;
    }
  }
}

.site-header, .site-footer {
  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  a {
    padding: 1em .5em;
    transition: .25s ease all;
    text-decoration: none;
    color: inherit;
  }
}

.site-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: rgba(black, .8);
  background-color: white;
  padding: 2em 0;

  a {
    img {
      opacity: .8;
    }

    &:hover, &:focus {
      color: black;

      img {
        opacity: 1;
      }
    }
  }

  &__social-links {
    width: 48rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 48em) {
      flex-flow: column nowrap;
      width: 100%;
      margin: 0 2em;
    }
  }

  &__social-link {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: .8em;
    align-items: center;
    justify-content: center;

    img {
      max-width: 1.25em;
      margin: 0 .5em;
    }
  }
}

div[class*="highlight"] {
  @include card();
  background-color: #fdf6e3;

  pre {
    margin: 0;

    code {
      padding: 0;
      background-color: transparent;
      word-wrap: break-word;
      width: 100%;
    }
  }
}

.resume {
  $mix-color: #aaa;

  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
  }

  &__header {
    padding-bottom: 0;

    &-subtitle {
      font-size: .8em;
    }
  }
  &__section-header {
    padding: 3em 0;
  }
  &__content {
    > section, div > section {
      > header {
        font-size: 75%;

        h1, h2, h3, h4, h5, h6 {
          margin: 0;
        }
      }
    }
  }
  &__skills {
    > div {
      ul {
        display: flex;
        flex-flow: row wrap;
        margin: 0 -.25em;
        padding: 0;
        list-style-type: none;

        li {
          margin: .25em;
          background-color: rgba(white, .25);
          box-shadow: 0 0 0 2px rgba(black, .1);
          color: white;
          padding: .333em 1em;
          border-radius: 5em;

          @media screen and (max-width: 48em) {
            font-size: 80%;
          }
        }
      }
    }
  }
  &__experience {
    display: flex;

    @media screen and (max-width: 68em) {
      flex-direction: column;
    }

    > * {
      flex: 1;
    }
  }
  &__experience-timeline {
    padding-right: 1em;

    @media screen and (max-width: 68em) {
      padding-right: 0;
    }

    div {
      > ul, > ol {
        margin: 0;
        padding: 0;
        list-style-type: none;

        > li {
          margin: 3em 0;
          margin-left: -2px;
          padding: 0;
          list-style-type: none;

          &:first-of-type {
            margin-top: 0;
          }

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }

    &__timeline {
      flex: 1;

      &__container {
        display: flex;

        .border {
          content: '';
          border-left: 2px dashed $mix-color;
          mix-blend-mode: color-dodge;
        }
      }
    }
  }
  &__job {
    @include card();
    color: rgba(black, .8);
    position: relative;
    margin-left: 1em;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 90%;

    h1, h2, h3, h4, h5, h6 {
      margin: .75em 0;
    }

    &__container {
      border-left: 2px solid white;

      &:before, &:after {
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border: 2px solid white;
        background-color: $magenta;
        left: -7px;
        top: 0;
        position: relative;
        display: block;
        box-shadow: 0 .1em .1em rgba(black, .25);
      }

      time {
        position: relative;
        display: inline-block;
        font-size: 75%;
        left: 1.25em;
        color: $mix-color;
        mix-blend-mode: color-dodge;

        &:nth-of-type(1) {
          top: -1.5em;
        }
        &:nth-of-type(2) {
          top: 1.25em;
        }
      }
    }
    &__employer { margin-bottom: 0 !important; }
    &__location { margin-top: 0 !important; }

    &__responsibilities {
      ul {
        font-size: 90%;
        margin: 0;
        padding: 1em;
      }
    }

    section {
      header {
        font-size: .666em;

        h1, h2, h3, h4, h5, h6 {
          margin: 0;
        }
      }
    }

    hr {
      border: none;
      border-top: 1px solid rgba(black, .25);
      margin: 1em;
    }
  }
  &__volunteering, &__education {
    text-align: right;

    @media screen and (max-width: 68em) {
      text-align: left;
    }

    > div {

      > ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        > li {
          margin: 1em 0;
          padding: 0;
          list-style-type: none;

          &:first-of-type {
            margin-top: 0;
          }

          > div {
            header {
              font-size: 66.666%;
              > * {
                margin: .1em 0;
              }
            }
          }
        }
      }
    }
  }
}

ol.post-list, ol.archive-list {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

.post-list {
  &__item {
    margin-top: 2em;

    &:first-of-type {
      margin-top: 0;
    }

    a {
      @include card();
      @include gradient-animation($blue, $red, .15s);
      margin-top: 0;
      margin-bottom: 0;
      display: block;
      color: rgba(black, .8);

      &:hover, &:focus {
        color: white;
        text-shadow: 0 .1em .1em rgba(black, .25);
      }
    }
  }

  &__item-title {
    text-transform: uppercase;
    line-height: 1;
    margin: .25em 0;
  }

  &__item-date {
    line-height: 1.75;
  }

  &__item-summary, &__item-excerpt, &__item-excerpt, &__item-date {
    font-size: 90%;
    font-weight: normal;
  }
}

.pagination {
  margin: 2em auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 16em;

  .previous, .next {
    background-color: transparent;
    color: rgba(white, .75);
    display: inline-block;
    padding: .5em .75em;
    cursor: no-drop;
  }

  a.previous, a.next {
    background-color: white;
    color: $blue;
    border-radius: 2px;
    text-shadow: none;
    cursor: pointer;
  }
}
