<!doctype html>
<html lang="en">
  {% include head.html %}
  <body itemscope itemtype="http://schema.org/WebPage">
    <div class="site">
      {% include header.html %}
      <div class="global-wrapper">
        {{ content }}
      </div>
      {% include footer.html %}
      {% include ga.html %}
      {% include scripts.html %}
    </div>
  </body>
</html>