---
layout: default
---
<main>
  <article class="page">
    <header class="page__header">
      <h1 class="page__header-title">{{ page.title | xml_escape }}</h1>
    </header>
    <div class="page__content">
      {{ content }}
    </div>
  </article>
</main>