---
layout: default
---
<main>
  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post__header">
      <div class="post__header__content">
        <a href="{{ page.url | prepend: site.baseurl }}">
          <h1 class="post__title" itemprop="name headline">
            {{ page.title | xml_escape }}
          </h1>
        </a>
        <h2 class="post__summary">
          {{ page.subtitle | xml_escape }}
        </h2>
        <p class="post__meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>
      </div>
    </header>
    <div class="post__content" itemprop="articleBody">
      {{ content }}
    </div>
  </article>
</main>
{% contentfor scripts %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/default.min.css" lazyload="1">
<script defer src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script>
<script defer src="{{ "/js/site.js" | prepend: site.baseurl }}"></script>
{% endcontentfor %}